<p>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testRun()">Wizard Run</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testCreateFolder()">test create folder</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testWriteFile()">test write file</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testRestartService()">test restart service</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testStartCore()">test start core</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testDependency()">test check dependency</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testLogin()">test login</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testGetUser()">test get user</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testGetServices()">test get services</button><br>
  <button id="btnRunWizard" class="btn btn-primary" (click)="testRestartServiceEx()">test restart services</button><br>
</p>
